* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  padding: 1.5rem;
  margin: 1rem;
  grid-template-columns: 100%;
  max-width: 100%;
}

.app {
  padding: 1rem;
  border-radius: 0.875rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

label {
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.search-bar {
  border-radius: 0.875rem;
  padding: 1rem;
}

form {
  display: grid;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 1rem;
}

input {
  padding-left: 1rem;
  height: 3rem;
  font-size: 1.75rem;
  border-radius: 0.875rem;
  width: 100%;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
}

.image-list {
  padding: 1rem 0;
  margin-top: 1rem;
  columns: 5 350px;
  width: 100%;
  justify-content: space-between;
}

img {
  border-radius: 0.75rem;
  width: 100%;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3);
}
