* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  padding: 1.5rem;
  margin: 1rem;
  grid-template-columns: 100%;
  max-width: 100%;
  background-color: rgb(185, 218, 184);
}

.app {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.6);
}

label {
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}
.search-bar {
  padding: 1rem;
}

form {
  display: grid;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 1rem;
}

input {
  background-color: rgba(255, 255, 255, 0.555);
  padding-left: 1rem;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  height: 3rem;
  font-size: 1.75rem;
  border-radius: 0.5rem;
  width: 100%;
  min-width: 24rem;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
}

.image-list {
  padding: 1rem 0cap;
  margin-top: 1rem;
  columns: 5 325px;
  width: 100%;
}

img {
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 0.25rem;
}
